body, html {
  margin: 0;
  padding: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the minmax values as needed */
  gap: 0;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block; /* Remove spacing below images */
}

p {
  align-self: center;
}